<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
        <title>Secret Santa</title>
        <style>
            body {margin: 5% auto; background: #f2f2f2; color: #444444; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.8; text-shadow: 0 1px 0 #ffffff; max-width: 73%;}
            code {background: white;}
            a {border-bottom: 1px solid #444444; color: #444444; text-decoration: none;}
            a:hover {border-bottom: 0;}
        </style>
    </head>
    <body>
        <header>
            <h1>Secret Santa Draw</h1>
        </header>
            <p>Fait par <a href="https://ant-one.ch">Antoine</a> dans l'IR90</p>
            <p><a href="https://github.com/Ant-One/secret-santa">Fork me on Github!</a></p>
        </footer>
    </body>
</html>