{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
        <title>Draw details</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link href='{% static "css/style.css" %}' rel="stylesheet">

    <body>
        <header>
            <h1 id="title"><strong>{{draw_name}}</strong></h1>
        </header>

        <h4>Share this link with your friends</h4>
        <a id="share-link" href="{{ request.path }}">{{ request.build_absolute_uri }}</a>

        <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
            Bookmark this link, as it will not been shown again!
        </div>

        <form id="draw-button" action="do_draw">
            <button type="submit" class="btn btn-danger submit">Let's Draw!</button>
        </form>
    
        <footer>
            <p>Made by <a href="https://ant-one.ch">Antoine</a> in IR90 1722 near Martigny</p>
            <p><a href="https://github.com/Ant-One/secret-santa">Fork me on Github!</a></p>
        </footer>
    </body>
</html>